body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    background: radial-gradient(ellipse at center, #2d2dac 0%, #141461 100%);
}

.container {
    margin: 3vh;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-01 {
    background: #50a8ff00;
    position: relative;
    flex: 1;
    max-width: 50%;
    height: auto;
    margin: 1vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 7vh;
}

.card-01 h2 {
    margin-bottom: 25px;
    color: white;
    font-size: 6vh;
}

.card-01 p {
    margin-bottom: 10px;
    color: white;
    font-size: 3vh;
}


.card-01 button.btn {
    margin:30px 0px;
    background-color: #3c45c8;
    color: white;
    border: none;
    width:30vh;
    padding: 3vh 2vh;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 3vh;
}

.card-01 button.btn:hover {
    background-color: #1100ac;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 40px rgba(17, 0, 172, 0.5);

}



.card-02{
    background:#50a8ff00;
    position:relative;
    flex:1;
    max-width:50%;
    height: auto;
    margin-top:50px;
    margin-bottom:50px;
    border-radius: 5px;
    padding: 0 40px;
    user-select: none;
}




.card-02 img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 20px;
}


.card-image {
    /*opacity: 0.7;*/
    filter: brightness(1.3);
}






@media (max-width:800px){
    .card-01 {
        position: relative;
        flex: 1;
        max-width: 100%;
        height: auto;
        margin: 10px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 40px;
    }
    .card-02{
        flex:100%;
        max-width:600px;
        padding: 0px;
    }
}


.t_body{
    font-size: 35px;
    font-weight: bold;
    color:white;
}










/* Estilo para hacer las imágenes circulares */
.img-container {
    
    text-align: center;

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 4vh;
    padding-right: 4vh;
    padding-top: 6vh;
    padding-bottom: 20vh;
    user-select: none;
}



.img-container img {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    margin: 2vh;
}

/* Estilo para el diseño responsivo */
@media only screen and (max-width: 400px) {
    .img-container {
        justify-content: center; /* Centra las imágenes en una sola columna */
    }

    .language-container {
        margin: 10px 5px; /* Ajusta el margen según sea necesario */
    }
}

@media only screen and (min-width: 401px) {
    .img-container {
        justify-content: space-between; /* Distribuye las imágenes en varias columnas */
    }
}

/* Estilo para los nombres de idiomas */
.language-name {
    min-width:150px;
    padding-top: 5px;
    padding-left: 20px; /* Ajusta según sea necesario */
    padding-right: 20px; /* Ajusta según sea necesario */
    padding-bottom: 20px;
    color: #ffffff;
    font-size: 3vh;
    font-weight: bold; 
}








.language-container {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 4vh;
    padding-right: 4vh;
    padding-top: 5vh;
    padding-bottom: 2vh;
}
.language-section {
    color: #ffffff;
    font-size: 4vh;
    font-weight: bold; 
}



.language-description-container {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 4vh;
    padding-right: 4vh;
    padding-top: 1vh;
    padding-bottom: 6vh;
}
.language-description {
    color: #ffffff;
    font-size: 3vh;
    font-weight: bold; 

    padding-left: 4vh;
    padding-right: 4vh;
}








.video-title {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 4vh;
    padding-right: 4vh;
    padding-top: 20vh;
    padding-bottom: 2vh;
}



.video-container {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 4vh;
    padding-right: 4vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    user-select: none;
}

iframe {
    width: 100%;
    max-width: 800px;
    height: 450px;
    border: 2px solid #ccc;
}


