@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root {
	--blue: #3600a3;
	--light-blue: #3600a3;
	--dark-blue: #4a00dd;
	--grey: #f2f2f2;
}

body {
	display: block;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: var(--light-blue);
}

.global-container {
    margin-top:20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--light-blue);
}


.container {
    display:block;
	max-width: 400px;
	width: 100%;
	background: #fff;
	padding: 30px;
	border-radius: 30px;
    text-align: center;
    position: relative;/*delete*/
}
.img-area {
	position: relative;
	width: 100%;
	height: 240px;
	background: var(--grey);
	margin-bottom: 30px;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.img-area .icon {
	font-size: 100px;
}
.img-area h3 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 6px;
}
.img-area p {
	color: #999;
}
.img-area p span {
	font-weight: 600;
}
.img-area img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	z-index: 100;
}
.img-area::before {
	content: attr(data-img);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	font-weight: 500;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: all .3s ease;
	z-index: 200;
}
.img-area.active:hover::before {
	opacity: 1;
}
.select-image {
	display: block;
    margin-bottom: 10px;
    margin-top: 10px;
	width: 100%;
	padding: 16px 0;
	border-radius: 15px;
	background: var(--blue);
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
}
.select-image:hover {
	background: var(--dark-blue);
}


.upload-image {
	display: none;
    margin-bottom: 10px;
	width: 100%;
	padding: 16px 0;
	border-radius: 15px;
	background: var(--blue);
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
}
.upload-image:hover {
	background: var(--dark-blue);
}

.send-request {
	display: block;
    margin-bottom: 10px;
    margin-top: 10px;
	width: 100%;
	padding: 16px 0;
	border-radius: 15px;
	background: var(--blue);
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
}
.send-request:hover {
	background: var(--dark-blue);
}


.custom-input {
    display: none;
    margin-bottom: 10px;
    width: 100%;
    padding: 16px 12px; 
    border-radius: 15px;
    background: rgb(255, 255, 255);
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    border: none;
    transition: all 0.3s ease;
}

.custom-input:focus {
    box-shadow: 0 0 5px #0073ffbb; 
}







.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.back-button-page1, .next-button-page1, .back-button-page2, .next-button-page2 {
    flex: 1;
    padding: 16px 0;
    margin:15px 5px;
    border-radius: 15px;
    background: var(--blue);
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
}
.back-button-page1:hover {
	background: var(--dark-blue);
}
.back-button-page2:hover {
	background: var(--dark-blue);
}
.next-button-page1:hover {
	background: var(--dark-blue);
}
.next-button-page2:hover {
	background: var(--dark-blue);
}





/*GENEATE NFT*/

.container-generate-image {
    display:none;/*block*/
	max-width: 400px;
	width: 100%;
	background: #fff;
	padding: 30px;
	border-radius: 30px;
    text-align: center;
    position: relative;/*delete*/
}

.prompt-input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 16px 12px; 
    border-radius: 15px;
    background: rgb(255, 255, 255);
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    border: none;
    transition: all 0.3s ease;
}
.request-affiliation {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 16px 12px; 
    border-radius: 15px;
    background: rgb(255, 255, 255);
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    border: none;
    transition: all 0.3s ease;
}

.generate-image {
	display: block;
    margin-top: 10px;
    margin-bottom: 10px;
	width: 100%;
	padding: 16px 0;
	border-radius: 15px;
	background: var(--blue);
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
}
.generate-image:hover {
	background: var(--dark-blue);
}


.img-area-generated {
	position: relative;
	width: 100%;
	height: 240px;
	background: var(--grey);
	margin-bottom: 30px;
	border-radius: 15px;
	overflow: hidden;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.img-area-generated .icon {
	font-size: 100px;
}
.img-area-generated h3 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 6px;
}
.img-area-generated p {
	color: #999;
}
.img-area-generated p span {
	font-weight: 600;
}
.img-area-generated img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	z-index: 100;
}
.img-area-generated::before {
	content: attr(data-img);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	font-weight: 500;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: all .3s ease;
	z-index: 200;
}
.img-area-generated.active:hover::before {
	opacity: 1;
}




.fa-dollar-sign {
    color: #FFD700;
  }