body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
    color: #ffffff;
    background: radial-gradient(ellipse at center, #2d2dac 0%, #141461 100%);
  }

  .container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    box-sizing: border-box;
  }

  nav {
    background-color: #33333300;
    color: white;
    padding: 10px 0;
  }

  nav img {
    width: 50px; 
    vertical-align: middle;
  }

  .logo {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-left: 15px;
      margin-right: 10px;
  }

  nav h3 {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
  }

  .card-container {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card {
    flex: 0 0 calc(50% - 10px);
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #dddddd00;
    padding: 15px;
  }

  .full-width-card {
    flex: 1 0 100%; 
    box-sizing: border-box;
    border: 1px solid #dddddd00;
    padding: 15px;
    text-align: center;
  }

  .card img {
    width: 100%; 
    height: auto; 
  }
  .full-width iframe {
    width: 100%; 
    height: auto; 
  }
  iframe {
    width: 560px; 
    height: 315px; 
  }

  .btn {
      display:block;
      margin:30px 0px;
      background-color: #3c45c8;
      color: white;
      border: none;
      width:200px;
      padding: 20px 5px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      font-size: 20px;
  }

  .btn:hover {
      background-color: #1100ac;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 40px rgba(17, 0, 172, 0.5);

  }

  


  .img-container {
      justify-content: space-between;
      text-align: center;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding-top: 50px;
      padding-bottom: 100px;
      user-select: none;
  }
  .img-container img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
  }

  .language-name {
      min-width:150px;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 0.8em;
      font-weight: bold; 
  }

  #desktop{
      display:none;
  }


  @media only screen and (max-width: 600px) {

    .container {
      padding: 0 10px;
    }

    .language-name {
      min-width:100px;
  }

      #desktop{
          display:flex;
      }
      .btn{
          display:none;
      }

      iframe {
      width: 250px; 
      height: 200px; 
      }

    .card,.full-width-card {
      flex: 0 0 100%; 
    }
  }