.input_username {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    max-width: 200px;
    padding: 16px 12px; 
    border-radius: 15px;
    background: rgb(255, 255, 255);
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    border: none;
    transition: all 0.3s ease;
}

.listen-card {
    flex: 1 0 100%; 
    box-sizing: border-box;
    border: 1px solid #dddddd00;
    padding: 15px;
    text-align: center;
    background-color: rgba(255, 0, 0, 0);
  }

  .listen-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn3 {
    display:block;
    margin-top:30px;
    margin-bottom:30px;
    margin-right:10px;
    border: none;
    background-color:#7c55e6;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size:20px;
    font-weight: bold;
    
    width: 100%;
    max-width: 200px;
    box-sizing: border-box;
}

.btn3:hover {
    background-color: #7c55e6;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 40px rgba(67, 46, 255, 0.671);

}




  #btn_english{
    display:none;
  }
  #btn_spanish{
    display:block;
  }





.switch-container {
    position: relative;
    width: 100px; /* Ajusta el ancho según sea necesario */
    height: 30px; /* Ajusta la altura según sea necesario */
    margin-bottom: 20px;
  }
  
  .switch-input {
    display: none;
  }
  
  .switch-label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0066ff;
    border-radius: 15px;
    transition: background-color 0.3s ease;
  }
  
  .switch-text-left, .switch-text-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap; /* Evita que el texto se rompa */
  }
  
  .switch-text-left {
    right: 10px;
  }
  
  .switch-text-right {
    left: 10px;
  }
  
  .switch-label::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    top: 0;
    left: 0;
    transition: left 0.3s ease;
  }
  
  .switch-input:checked + .switch-label {
    background-color: #66bb6a;
  }
  
  .switch-input:checked + .switch-label::after {
    left: calc(100% - 30px);
  }










